.main-header{
    background-color: antiquewhite;
    height: 10%;
    font-size: xx-small;
    padding: 0px;
    margin-top:10px;
    width: 100% !important;
}

.student-name{
    background-color: lightblue !important;
}

